.DS_Store
**/node_modules
**/dist/
**/__pycache__/*
**/.ipynb_checkpoints/
**/data/*
**/log/*
**/tmp/*

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Ignore all files in "LaTeX" folders
**/report/*

# Except .tex files
!**/report/*.tex
!**/report/*.bst
!**/report/*.cls
!**/report/*.bib
!**/report/figures/
!**/report/*.pdf